@{
    ViewBag.Title = "ASP.NET MVC3 数据交互例子";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("ViewBag方式", "UsingViewBag") |
@Html.ActionLink("ViewData方式", "UsingViewData") |
@Html.ActionLink("TempData方式", "UsingTempData") |