<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context"
               type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler,Spring.Core"/>
      <section name="objects"
               type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <!--1.写在config配置节中，默认-->
    <resource uri="config://spring/objects"/>
      <!--2.普通文件方式
      <resource uri="file://Config/SpringServiceConfig.xml"/>-->
      <!--3.嵌入到程序集中的配置文件方式，注意写法
      <resource uri="assembly://YS.SpringNET.Test/YS.SpringNET.Test.Config/SpringServiceConfig.xml"/>-->
      
    </context>
    <objects>
       <!--使用方式1，直接在config下的spring/objects节点下配置服务容器-->
      <object name="PersonService"
              type="YS.SpringNET.Service.PersonService,YS.SpringNET.Service">
      </object>
     <!-- 使用方式2，使用xml文件配置服务，见resource配置节-->
    </objects>
  </spring>
</configuration>