<?xml version="1.0" encoding="utf-8" ?>
  <log4net>
    <appender name="NHProfAppender" type="HibernatingRhinos.Profiler.Appender.NHibernate.NHProfAppender, HibernatingRhinos.Profiler.Appender">
    </appender>
    <logger name="HibernatingRhinos.Profiler.Appender.NHibernate.NHProfAppender.Setup">
      <appender-ref ref="NHProfAppender"/>
    </logger>
  </log4net>
